<html>
<body>
<pre>
    #*
    你看不到我~~~~
    *#
    $!{value1}
    $!{value2} ## 如果!不存在，强制为空
    ${value3}  ##这边是没有!,则当成一个文本进行解析.
    #*
    你看不到我~~~~
    *#
    $!{value1}
    $!{value2} ## 如果不存在，强制为空
    ${value3}

    colors: $!{colors}

    #foreach($color in $colors)
        This is Color $!{foreach.index}: $color, $!{foreach.count}
    #end

    #foreach($key in $map.keySet())
        Number: $key, Value: $map.get($key)
    #end

    #foreach($kv in $map.entrySet())
        Number: $kv.key, Value: $kv.value
    #end

    User:  $!{user.name}
    $!{user.description}
    $!{user.getDescription()}

    #set($title = "nowcoder_title")
    Title: $!{title}

    Parse: #parse("header.html")
    Include: #include("header.html")  ##不需要解析的话就用include ,两个#才是注释  这两个主要是写在头尾公共部分

    #macro (render_color, $index, $color)
        Color Render Macro $index, $color
    #end
    #foreach($color in $colors)
        #render_color($foreach.index, $color)
    #end  ##宏需要调用, 这边是可以用在热门的地方

    #set($hello = "hello")
    #set($helloworld1 = "$!{hello} world")
    $!hello
    $helloworld1
    #set($helloworld2 = '$!{hello} world')   ##单引号是不会解析的
    $helloworld2
</pre>
</body>
</html>